/* TABLE OF CONTENTS -------------------/

GLOBAL STYLE
    │
    ├─ VARIABLES
    │    ├─ Color Palette
    │    │    ├─ Brand colors
    │    │    └─ System colors
    │    ├─ Typography
    │    └─ Layout Settings
    ├─ RESET BROWSER STYLE
    ├─ COLOR PALETTE
    │    └─ Utility Classes
    │        └─ Aesthethic classes
    ├─ ANIMATIONS
    ├─ ELEVATIONS
    ├─ TYPOGRAPHY
    │    └─ Utility Classes
    │        └─ Aesthethic classes
    └─ ELEMENTS
         └─ Utility Classes
             ├─ Aesthethic classes  
             └─ Layout classes    

LAYOUT
    └─ GENERAL RULES

SITEWIDE
    ├─ HEADER
    │    └─ Navigation bar
    ├─ MAIN
    ├─ ASIDE
    └─ FOOTER

 END TABLE OF CONTENTS ----------------*/



/* || GENERAL STYLE */


/* VARIABLES */

:root {
    /* Color Palette */

    /* Brand */
    --primary-color: white;
    --secondary-color: #252525;
    --tertiary-color: #00A650;

    /* System */
    --error-color: #ba1a1a;
}


/* RESET BROWSER STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    /* NOTE: Alredy using a display font for h1 title, so no additional weight
    is needed to look as a display font. */
}

*::before,
*::after {
  box-sizing: border-box;
}


/* COLOR PALETTE */


/* ANIMATIONS */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}


/* ELEVATIONS */


/* TIPOGRAPHY */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ELEMENTS */

/* Icons */

/* Default setting for OUTLINED icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24
}

/* Lists */

:is(ul, ol) {
    list-style: inside;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Texts */

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}



/* || LAYOUT */


/* GENERAL RULES */



/* || SITEWIDE */


/* HEADER */

/* Navigation Bar */

.navbar__logo{
    max-width: 250px;
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
}

.navbar__logo-img {
    width: 2rem;
}


/* MAIN */


/* ASIDE */


/* FOOTER */